.header
  .header__name
    .header__lists
      %h3.header__lists__user-name
        = current_user.name
      .header__lists__edit
        -# .header__lists__edit__new
        = link_to "https://www.facebook.com/", class: "header__lists__edit__new" do
          %i.fa.fa-edit
          %span<>
        -# .header__lists__edit__account
        = link_to edit_user_path(current_user), class: "header__lists__edit__account" do
          %i.fa.fa-cog
          %span<>
        
  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ

    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ

    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ